

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./car.jpeg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    z-index: 99;
}

.autono {
    margin: 10px 10px;
    width: 20%;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: oblique;
}

.list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* margin-left: 400px; */
    font-size: 14px;
    font-style: oblique;
    width: 80%;
}

.list ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.list ul {
    display: flex;
    gap: 10px;
    margin: 0px 20px;
}

.button {
    margin: 0px 20px;
    /* margin-right: 150px; */
}

button {
    padding: 2px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color: white;
}

.header {
    margin-top: 50px;
    display: block;
    text-align: center;
}

.paragraph {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 14px;
}
.h1{
    color:white;
    font-weight: bolder;
    font-size: 25px;

}
p{
    color:white;
    font-size: 18px;
}



@media screen and (max-width:500px) {
    .container{
        flex-direction: column;
    }
}

@media screen and (max-width:370px) {
   .list{
     justify-content: center !important;
     width: 100%;
   }
}
